<div class="wave"></div>
<div id="title">
  <p>Alec Dusheck</p>
</div>
<div id="details" class="aboutme">
  <p>I'm a web developer and student at Eden Prairie High School. I've worked on multiple projects including MailFlow, a customer support solution for volunteer organizations and an IoT connected mobile app called IoTOne. I also enjoy working with game server management platforms.</p>
  <p>I am currently a sophomore in high school. If you want to know anything more, contact me by sending an email.</p>
  <p>My favorite programming language is Java, but Javascript and PHP also are great. I absolutely love SCSS and all of its goodness. However, I enjoy back-end technologies in particular. </p>
</div>
<div id="particles-js"></div>
